@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer components {
  .navbar {
    @apply flex flex-wrap sm:justify-start sm:flex-nowrap z-50 w-full bg-red-500 text-sm py-4;
  }
  .buttom-primary {
    @apply py-2 px-4 border border-black font-medium text-black bg-white hover:bg-red-600 hover:text-white;
  }
  .buttom-secondary {
    @apply py-2 px-4 bg-red-500 border border-white text-white hover:bg-white hover:text-black
  }
  .navbar-text {
    @apply font-medium text-white hover:text-gray-400;
  }
  .logo {
    @apply flex-none text-xl font-semibold dark:text-white;
  }
  .contaniner {
    @apply max-w-[120rem] w-full mx-auto;
  }
  .input-title {
    @apply max-w-[120rem] w-full mx-auto m-3 py-3 px-4 block border border-black rounded-md text-sm focus:border-blue-500 focus:ring-blue-500;
  }
  .textarea-content {
    @apply m-3 py-3 px-4 block max-w-[120rem] w-full mx-auto border border-black rounded-md text-sm focus:border-blue-500 focus:ring-blue-500;
  }
  .avatar-img {
    @apply rounded-full w-6 h-6 m-1;
  }
/* Style all headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold mb-2;
}

/* Style each heading level differently */
h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

h5 {
  @apply text-base;
}

h6 {
  @apply text-sm;
}

/* Style inline code */
code {
  @apply bg-gray-200 py-1 px-2 rounded;
}

/* Style code blocks */
pre {
  @apply bg-gray-200 p-4 rounded;
}

/* Style blockquotes */
blockquote {
  @apply border-l-4 border-gray-400 pl-4 italic my-8;
}
a {
  @apply text-blue-500 no-underline;
}



}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
*/